@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: GothicPixels;
    src:url("../fonts/GothicPixels.ttf") format("woff2"),
    src:url("../fonts/GothicPixels.ttf") format("embedded-opentype"),
    src:url("../fonts/GothicPixels.ttf") format("woff"),
    src:url("../fonts/GothicPixels.ttf") format("svg"),
    src:url("../fonts/GothicPixels.ttf") format("truetype");
}
@font-face {
  font-family: SpaceMono-Bold;
    src:url("../fonts/SpaceMono-Bold.ttf") format("woff2"),
    src:url("../fonts/SpaceMono-Bold.ttf") format("embedded-opentype"),
    src:url("../fonts/SpaceMono-Bold.ttf") format("woff"),
    src:url("../fonts/SpaceMono-Bold.ttf") format("svg"),
    src:url("../fonts/SpaceMono-Bold.ttf") format("truetype");
}

.bobbm{
  font-family: "SpaceMono-Bold";
  font-size: 10vw;
}
.bob {
  position: absolute;
  top: 63%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
}

.bob span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
}

.bob::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


body {
  background-color: rgb(180, 180, 245);
  /*background-image: url("../img/mono.png");*/
  height: 16rem;
  background-image: radial-gradient(circle, rgb(132, 174, 226) 2px, rgb(180, 180, 245) 2px);
  background-size: 2.5rem 2.5rem;
  background-position: center center;
}

.menu{
  padding: 15px;
  font-family: "GothicPixels";
  font-size: 3vw;
  color: rgb(44, 44, 58);

}

.heading {
  font-family: "GothicPixels";
  color: #9c59b600;
}

.para {
  font-family: "SpaceMono-Bold";
  font-size: 6vw;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgb(86, 116, 161);
  text-align: center;
  margin-bottom: 10vw;
  color: rgba(0, 0, 0, 0.144);
}

.link{
  font-family: "GothicPixels";
  font-size: 5.5vw;
  padding: 12px;
}

a{
 color:rgb(0, 0, 0);
 text-decoration: none; 
 text-align: center;
}

.boxx{
  grid-area: boxx;
  text-align: center;
  background-color: rgb(99, 99, 136);
  width: 80% auto;
  outline-style: solid;
  border-style: none none solid none;
  border-width: 10px;
  padding: 15px;
  margin: 20px;
  border-radius: 0px;
}


.imgg{
  grid-area: footer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80% auto;
  border-radius: 50%;
  margin-bottom: 100px;
  max-height: 50vw;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.main{
  grid-area: main;
  background-color: rgb(99, 99, 136);
  width: 80% auto;
  outline-style: solid;
  border-style: none none solid none;
  border-width: 10px;
  padding: 15px;
  margin: 10px;
  border-radius: 0px;

}

.headd{ 
  grid-area: header;
  text-align: center;
  background-color: rgb(99, 99, 136);
  width: 100% auto;
  max-height: 10;
  outline-style: solid;
  border-style: none none solid none;
  border-width: 10px;
  padding: 15px;
  border-radius: 2px;
}

.foot{
  position: fixed;
  font-size: 0.9vw;
  bottom:0;
  width: 100% auto;
  text-align: center;
  margin:10px;
  padding:20px;
}

.topgrid {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'boxx main main main main main'
    'footer footer footer footer footer footer';
  gap: 0px;
  padding: 10px;
}

.topgrid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}